.apply {
    border: 4px white inset;
    padding: 20%;
}

.apply form {
    border: 8px white ridge;
    padding: 20px;
}

.apply label {
    color: white;
}

.apply input {
    color: white;
    background-color: black;
    width: 100%;
    color: white;
    border: 8px white ridge;
}