main {
    border: 4px white inset;
    padding: 20%;
}

form {
    display: flex;
    flex-direction: column;
    border: 8px white ridge;
    padding: 20px;
    gap: 8px;
}

div {
    display: flex;
    border: 4px white outset;
}

label {
    color: white;
    border: 4px white inset;
    flex-shrink: 0;
}

input {
    color: white;
    background-color: black;
    width: 100%;
    color: white;
    border: 4px white inset;
}
