main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    border: 4px inset white;
}

article {
    display: flex;
    flex-direction: column;
    border: 4px outset white;
    transition: border-color ease 1s;
    border-color: white var(--theme) white var(--theme);
    --theme: #af6e31;
}

nav {
    transition: border-color ease 1s;
    border-color: white var(--theme) white var(--theme);
}

nav a {
    color: var(--theme);
}

nav a:hover {
    color: var(--theme);
}

p {
    border: 4px inset white;
    transition: border-color ease 1s;
    border-color: white var(--theme) white var(--theme);
    color: white;
    padding: 4px;
}

.w3school {
    --theme: #317531;
}
.w3school nav a {
    --theme: #317531;
}
.w3school:hover {
    --theme: #009a68;
}
.w3school nav a:hover {
    --theme: #009a68;
}

.udemy {
    --theme: #691d9c;
}
.udemy nav a {
    --theme: #691d9c;
}
.udemy:hover {
    --theme: #a635f1;
}
.udemy nav a:hover {
    --theme: #a635f1;
}
