.navigation {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border: 4px inset #ffffff;
}

.navigation a {
  display: flex;
  font-size: 20px;
  text-decoration: none;
  color: #af6e31;
  transition: color 1s ease;
}

.navigation a:hover {
  color: orange;
}

.navigation div {
  display: flex;
  align-items: center;
}

.navigation div label {
  font-size: 20px;
  color: orange;
}
.navigation div label img {
  width: 16px;
  height: 4px;
}

.navigation div img {
  width: 32px;
  height: 32px;
}

body {
  border: 4px outset #ffffff;
}

* {
  background-color: black;
  margin: 0;
  box-sizing: border-box;
}

img {
  color: white;
  display: block;
}
