.roles {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
  border: 4px inset #ffffff;
}

.navigation div span {
  font-size: 20px;
  color: cyan;
}

.roles div {
  display: flex;
  flex-flow: row nowrap;
  border: 4px outset #ffffff;
  height: 400px;
  transition: transform 0.4s ease;
}

.roles div:hover {
  transform: translateY(-3px);
}

.roles img {
  border: 4px inset #ffffff;
}

.roles span {
  width: 100%;
  padding: 4px;
  color: #ffffff;
  word-wrap: break-word;
  border: 4px inset #ffffff;
}