main {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
    border: 4px inset;
}

article {
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 4px outset;
    transition: border-color ease 1s;
    border-color: white var(--theme) white var(--theme);
    --theme: #af6e31;
}

article img {
    border: 4px inset;
    transition: border-color ease 1s;
    border-color: white var(--theme) white var(--theme);
}

p {
    height: 100%;
    padding: 4px;
    word-wrap: break-word;
    border: 4px inset;
    transition: border-color ease 1s;
    border-color: white var(--theme) white var(--theme);
}


article:hover {
    --theme: orange;
}
