main {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
    border: 4px inset;
}

article {
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 4px outset;
}

article img {
    border: 4px inset;
    transition: border-color ease 1s;
}

p {
    height: 100%;
    padding: 4px;
    word-wrap: break-word;
    border: 4px inset;
}

article,
article img,
p {
    transition: border-color ease 1s;
    border-color: white #af6e31 white #af6e31;
}

article:hover,
article:hover img,
article:hover p {
    border-color: white orange white orange;
}
