.employees {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
  border: 4px inset #ffffff;
}

.employees div {
  display: flex;
  flex-direction: column;
  border: 4px outset #ffffff;
  width: 400px;
  transition: transform 0.4s ease;
}

.employees div:hover {
  transform: scale(1.01);
}

.employees img {
  border: 4px inset #ffffff;
}

.employees span {
  height: 100%;
  padding: 4px;
  word-wrap: break-word;
  border: 4px inset #ffffff;
}